/*--- operations.html ---*/
.title
{
    text-align: center;
    padding: 10px;
}

.blockoperations {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Bonds {
    margin-top: 40px;
    padding: 20px;
    flex: 60%;
}

.Deposit {
    padding: 20px;
    flex: 60%;
}

.Loan {
    padding: 20px;
    flex: 60%;
}

.Expenses {
    padding: 20px;
    flex: 60%;
}

form {
    margin-left: 50%;
    width: 400px;
    margin-top: 10px;
}

.line_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

span {
    color: red;
}

/* --- active_deposits.html---*/
.active_deposit {
    float : left;
    /*width: auto;*/
}

/*Стилізація таблиці*/
table {
    table-layout: fixed;
    margin-left: 10px;
    margin-top: 20px;
    width: auto;
    border-collapse: collapse;
    border: 3px solid blue;
}
td {
    text-align: center;
    letter-spacing: 1px;
}

.resolt_deposits_information {
    float: left;
    margin-top: 50px;
    margin-left: 250px;
    text-align: left;
}

/*.resolt_deposits_information > table > td {*/
/*    text-align: left;*/
/*}*/