.title
{
    text-align: center;
    padding: 10px;
}

.blockoperations {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Bonds {
    margin-top: 40px;
    padding: 20px;
    flex: 60%;
}

.Deposit {
    padding: 20px;
    flex: 60%;
}

.Loan {
    padding: 20px;
    flex: 60%;
}

.Expenses {
    padding: 20px;
    flex: 60%;
}

form {
    margin-left: 50%;
    width: 400px;
    margin-top: 20px;
}

/*.line {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*    padding: 20px;*/
/*}*/

.line_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}