{% extends 'main/layout.html' %}

{% block title %} Investments {% endblock %}

{% block content %}

    <div class="main_add_deposit">
        <div class="title">
            <h1><b> ADD Loan </b></h1>
        </div>
        <div>
            <form method="post" name="add_loanForm">
                {% csrf_token %}
                <div class="block_create_deposit">
                    <div class="base_form_information_deposit">
                        <h5> Name of Loan  {{ form.name     }} </h5>
                        <h5> Sum of Loan   {{ form.sum      }} </h5>
                        <h5> Loan currency {{ form.currency }} </h5>
                        <h5> Loan rate     {{ form.rate     }} </h5>
                        <h5> Loan period   {{ form.period   }} </h5>
                        <h5> Start date of Loan {{ form.start_date }} </h5>
                        <h5> End date of Loan   {{ form.end_date   }} </h5>
                        <input type="hidden" name="add_loanForm" value="2">
                        <span> <h5>{{ error }}</h5></span> <br>
                    </div>
                </div>
                <div class="button_add_deposit">
                    <button type="submit" name="submit_btn" class="btn btn-primary btn-lg btn-add-loan"> Add Loan </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}