{% extends 'main/layout.html' %}

{% load humanize %}

{% block title %} Information about deposits {% endblock %}

{% block content %}

    <div class="title">
        <h1><b> Information about deposits </b></h1>
    </div>
    {% if grouped_active_deposits != 'list is empty'%}
        <div class="block_information_about_deposits">
            <div class="title_active_deposits">
                <h4><b> Active deposits </b></h4>
            </div>

            <div class="block_active_deposits">
                <table class="table_for_deposits">
                    <tr>
                        <th scope="col">Name of bank</th>
                        <th scope="col">Name of the deposit</th>
                        <th>Sum </th>
                        <th>Currency</th>
                        <th>Rate %</th>
                        <th>Period,months</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Replenishment</th>
                        <th>Capitalization %</th>
                    </tr>
                    {% for group in grouped_active_deposits %}
                        {% if group %}
                            {% for deposit in group %}
                                <tr>
                                    <td>{{ deposit.bank }}</td>
                                    <td>{{ deposit.name }}</td>
                                    <td>{{ deposit.sum|intcomma }} </td>
                                    <td>{{ deposit.currency }} </td>
                                    <td>{{ deposit.rate }}</td>
                                    <td>{{ deposit.period }}</td>
                                    <td>{{ deposit.start_date }} </td>
                                    <td>{{ deposit.end_date }} </td>
                                    {% if deposit.add_deposit == 'apply' %}
                                        <td><i class="fa-regular fa-circle-check"></i></td>
                                    {% else %}
                                        <td><i class="fa-regular fa-circle"></i></td>
                                    {% endif %}
                                    {% if deposit.auto_capitalization == 1 %}
                                        <td> once a year </td>{#<i class="fa-regular fa-circle-check"></i>#}
                                    {% endif %}
                                    {% if deposit.auto_capitalization == 2 %}
                                        <td> every 6 mo. </td>{#<i class="fa-regular fa-circle-check"></i>#}
                                    {% endif %}
                                    {% if deposit.auto_capitalization == 4 %}
                                        <td> every 3 mo. </td>{#<i class="fa-regular fa-circle-check"></i>#}
                                    {% endif %}
                                    {% if deposit.auto_capitalization == 12 %}
                                        <td> every mo. </td>{#<i class="fa-regular fa-circle-check"></i>#}
                                    {% endif %}
                                    {% if deposit.auto_capitalization == 0 %}
                                        <td><i class="fa-regular fa-circle"></i></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    {% else %}
        <div class="block_empty_deposits">
            <h4><b>Active deposits</b></h4>
            <h5>You have no active deposits</h5>
        </div>

    {% endif %}

    <div class="block_deposits_report">
        {% if report_active_deposits != 'list is empty' %}
            <div class="title_deposits_report">
                <h4><b> Deposits report </b></h4>
            </div>
            <div class="block_table_deposits_report">
                <table class="table_deposits_report">
                    <tr>
                        <th> Currency </th>
                        <th> Sum of deposits </th>
                        <th> Average rate % </th>
                        <th> Dayily profit </th>
                        <th> Monthly profit </th>
                        <th> Year profit </th>
                        <th> Total profit </th>
                    </tr>
                    {% for indicator in report_active_deposits %}
                        <tr>
                            <td> {{ indicator.currency }}</td>
                            <td> {{ indicator.calc_sum|intcomma }}</td>
                            <td> {{ indicator.average_rate }}</td>
                            <td> {{ indicator.dayily_profit|intcomma }}</td>
                            <td> {{ indicator.monthly_profit|intcomma }}</td>
                            <td> {{ indicator.year_profit|intcomma }}</td>
                            <td> {{ indicator.total_profit|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>

    <div class="block_deposits_in_archive">
        <h4><b>Deposits in archive</b></h4>
        {% if grouped_archive_deposits != 'list is empty' %}
            <div class="block_active_deposits">
                <table class="table_for_deposits">
                    <tr>
                        <th scope="col">Name of bank</th>
                        <th scope="col">Name of the deposit</th>
                        <th>Sum </th>
                        <th>Currency</th>
                        <th>Rate %</th>
                        <th>Period in months</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Replenishment</th>
                        <th>Capitalization %</th>
                    </tr>
                    {% for group in grouped_archive_deposits %}
                        {% if group %}
                            {% for deposit in group %}
                                <tr>
                                    <td>{{ deposit.bank }}</td>
                                    <td>{{ deposit.name }}</td>
                                    <td>{{ deposit.sum|intcomma }} </td>
                                    <td>{{ deposit.currency }} </td>
                                    <td>{{ deposit.rate }}</td>
                                    <td>{{ deposit.period }}</td>
                                    <td>{{ deposit.start_date }} </td>
                                    <td>{{ deposit.end_date }} </td>
                                    {% if deposit.add_deposit == 'apply' %}
                                        <td><i class="fa-regular fa-circle-check"></i></td>
                                    {% else %}
                                        <td><i class="fa-regular fa-circle"></i></td>
                                    {% endif %}
                                    {% if deposit.auto_capitalization == 1 %}
                                        <td> once a year </td>{#<i class="fa-regular fa-circle-check"></i>#}
                                    {% endif %}
                                    {% if deposit.auto_capitalization == 2 %}
                                        <td> every 6 mo. </td>{#<i class="fa-regular fa-circle-check"></i>#}
                                    {% endif %}
                                    {% if deposit.auto_capitalization == 4 %}
                                        <td> every 3 mo. </td>{#<i class="fa-regular fa-circle-check"></i>#}
                                    {% endif %}
                                    {% if deposit.auto_capitalization == 12 %}
                                        <td> every mo. </td>{#<i class="fa-regular fa-circle-check"></i>#}
                                    {% endif %}
                                    {% if deposit.auto_capitalization == 0 %}
                                        <td><i class="fa-regular fa-circle"></i></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <h5> Archive is empty </h5>
        {% endif %}

    </div>
    <div class="block_deposits_report">
        {% if report_archive_deposits != 'list is empty' %}
            <div class="title_deposits_report">
                <h4><b> Deposits report </b></h4>
            </div>
            <div class="block_table_deposits_report">
                <table class="table_deposits_report">
                    <tr>
                        <th> Currency </th>
                        <th> Sum of deposits </th>
                        <th> Average rate % </th>
                        <th> Dayily profit % </th>
                        <th> Monthly profit </th>
                        <th> Year profit % </th>
                        <th> Total profit </th>
                    </tr>
                    {% for indicator in report_archive_deposits %}
                        <tr>
                            <td> {{ indicator.currency }}</td>
                            <td> {{ indicator.calc_sum|intcomma }}</td>
                            <td> {{ indicator.average_rate }}</td>
                            <td> {{ indicator.dayily_profit|intcomma }}</td>
                            <td> {{ indicator.monthly_profit|intcomma }}</td>
                            <td> {{ indicator.year_profit|intcomma }}</td>
                            <td> {{ indicator.total_profit|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>

{% endblock %}