{% extends 'main/layout.html' %}

{% block title %} Information about Bonds {% endblock %}

{% block content %}

    <div class="content_add_schedule">

        <div class="title">
            <h1><b> {{ government.name }}ADD payment schedule </b></h1>
        </div>

        <div>
            {% if data_payment_schedule %}
                <table class="table_add_schedule">
                    <tr>
                        <th scope="col"> ID Government </th>
                        <th scope="col"> Payment type </th>
                        <th scope="col"> Payment date</th>
                        <th> Sum </th>
                    </tr>
                    {% for element in data_payment_schedule %}
                        <tr>
                            <td>{{ government.id }} </td>
                            <td>{{ element.payment_type }}</td>
                            <td>{{ element.payment_date }}</td>
                            <td>{{ element.payment_sum }} </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="block_delete_governments_buttons">
                    <button type="button" class="btn btn-danger btn-delete-payments_schedule" onclick="showOutputArchiveGovernments()"> Delete all payments </button>
                    <div class="block_confirm_delete_payments" id="confirmation_delete_payment_schedule" style="display:none">
                        <h5>Are you sure?</h5>
                        <div class="block_confirm_delete_btns">
                            <form method="post">
                                {% csrf_token %}
                                    <button type="submit" name="cencel-delete-payments-schedule"
                                            class="btn btn-success btn-cencel-delete-payments-schedule" > No , Cencel!
                                    </button>
                                    <button type="submit" name="btn-confirm-delete-payments-schedule"
                                            class="btn btn-danger" > Yes , Delete!
                                    </button>
                            </form>
                        </div>
                    </div>
                </div>

                <script>
                    function showOutputArchiveGovernments() {
                        document.getElementById("confirmation_delete_payment_schedule").style.display = "flex";
                    }
                </script>
            {% else %}
                <div class="block_empty_payment_scgedule">
                    <h5> List is empty. Please enter payment TYPE , DATE and SUM of governments </h5>
                </div>
            {% endif %}

            <form method="post" class="form_add_payment_schedule" name="add_payment_schedule">
                {% csrf_token %}
                <table class="table_add_schedule">
                    <tr>
                        <td> {{ government.id }}</td>
                        <td> {{ form.payment_type }} </td>
                        <td> {{ form.payment_date }} </td>
                        <td> {{ form.payment_sum }} </td>
                        <input type="hidden" name="add_payment_schedule" value="1">
                    </tr>
                </table>
                <button type="submit" name="submit_btn" class="btn btn-success btn-save-schedule"> ADD payment </button>
            </form>

                <div class="div_buttons_add_schedule">
                    <button type="submit" name="submit_and_redirect" class="btn btn-primary btn-lg btn-schedule-back-details"
                        onclick="window.location.href ='{% url 'government_details' government_id=government.id %}'">
                        Back to details of governments
                    </button>
                </div>

        </div>
    </div>

{% endblock %}