{% extends 'main/layout.html' %}

{% block title %} ADD Government {% endblock %}

{% block content %}

    <div class="main_add_deposit">
        <div class="title">
            <h1><b> ADD Government </b></h1>
        </div>
        <div class="block_add_product">
            <form method="post" name="add_depositForm">
                {% csrf_token %}
                <div class="block_create_deposit">
                    <div class="base_form_information_deposit">
                        <h5> Government code  {{ form.name     }} </h5>
                        <h5> Government type  {{ form.type_gv  }} </h5>
                        <h5> Government sum   {{ form.sum      }} </h5>
                        <h5> Government currency {{ form.currency }} </h5>
                        <h5> Number of coupons   {{ form.coupons  }} </h5>
                        <h5> Coupons nominal cost {{ form.coupons_nominal_cost }} </h5>
                        <h5> Coupons current cost {{ form.coupons_current_cost }} </h5>
                        <input type="hidden" name="add_depositForm" value="1">
                        <span> <h5>{{ error }}</h5></span> <br>
                    </div>
                    <div class="additional_form_options_deposit">
                        <h5> Government rate {{ form.rate     }} </h5>
                        <h5> Start date {{ form.start_date }} </h5>
                        <h5> End date   {{ form.end_date   }} </h5>
                        <h5> Bonds expenses  {{ form.bonds_expenses }} </h5>
                        <input type="hidden" name="add_governmentForm" value="1">
                    </div>
                </div>
                <div class="button_add_deposit">
                    <button type="submit" name="submit_btn" class="btn btn-primary btn-lg btn-add-deposit"> Add Government </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}