{% extends 'main/layout.html' %}

{% load humanize %}

{% block title %} Information about Bonds {% endblock %}

{% block content %}

    <div class="block_information_about_deposits">
        <div class="title">
                <h1><b> Information about Bonds </b></h1>
        </div>

        <div class="title_active_deposits">
            <h4><b> Active Governments </b></h4>
        </div>

        {% if active_governments %}
            <div class="block_active_governments">
                <table class="table_for_deposits">
                    <tr>
                        <th> Bonds Code </th>
                        <th> Type </th>
                        <th> Sum </th>
                        <th> Currency </th>
                        <th> Rate % </th>
                        <th> Profit(clean) </th>
                        <th> Repayment </th>
                        <th> Period month </th>
                        <th> Start date </th>
                        <th> End Date </th>
                        <th> Details </th>
                    </tr>
                    {% for bond in active_governments %}
                        <tr>
                            <td> {{ bond.name }}    </td>
                            <td> {{ bond.type_gv }} </td>
                            <td> {{ bond.sum|intcomma }}     </td>
                            <td> {{ bond.currency }} </td>
                            <td> {{ bond.rate }}     </td>
                            {% for indicator in bond.governments_extended_indicators.all %}
                                <td> {{ indicator.bonds_income|intcomma }}   </td>
                            {% endfor %}
                            <td> {{ bond.bonds_repayment_nominal|intcomma }} </td>
                            <td> {{ bond.period }}     </td>
                            <td> {{ bond.start_date }} </td>
                            <td> {{ bond.end_date }}   </td>
                            <td> <button type="button" class="btn btn-warning btn-sm btn-show-details"
                                         onclick="window.location.href =
                                                 '{% url 'government_details' government_id=bond.id %}'"> Show details
                                  </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

        {% else %}
            <div class="block_empty_deposits">
                <h5> You have no active Governments </h5>
            </div>
        {% endif %}

        <div class="block_deposits_report">
            {% if report_active_governments != 'list is empty' %}
                <div class="title_deposits_report">
                    <h4><b> Governments report </b></h4>
                </div>
                <div class="block_table_deposits_report">
                    <table class="table_deposits_report">
                        <tr>
                            <th> Currency </th>
                            <th> Sum of Bonds </th>
                            <th> Average rate % </th>
                            <th> Current rate % </th>
                            <th> Dayily profit </th>
                            <th> Monthly profit </th>
                            <th> Year profit </th>
                            <th> Total profit </th>
                        </tr>
                        {% for indicator in report_active_governments %}
                            <tr>
                                <td> {{ indicator.currency }}</td>
                                <td> {{ indicator.calc_sum|intcomma }}</td>
                                <td> {{ indicator.average_rate }}</td>
                                <td> {{ indicator.current_rate }}</td>
                                <td> {{ indicator.dayily_profit|intcomma }}</td>
                                <td> {{ indicator.monthly_profit|intcomma }}</td>
                                <td> {{ indicator.year_profit|intcomma }}</td>
                                <td> {{ indicator.total_profit|intcomma }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </div>

        <div class="div_buttons_block">
            <button type="submit" name="submit_and_redirect" class="btn btn-primary btn-lg btn-schedule-back-gov"
                    onclick="window.location.href ='{% url 'operations' %}'"> Back to "Operation MENU"
            </button>
        </div>

        {% if archive_governments %}

            <div class="title_active_deposits">
                <h4><b> Governments in Archive </b></h4>
            </div>

            <div class="block_active_governments">
                <table class="table_for_deposits">
                    <tr>
                        <th> Bonds Code </th>
                        <th> Type </th>
                        <th> Sum </th>
                        <th> Currency </th>
                        <th> Rate % </th>
                        <th> Profit(clean) </th>
                        <th> Repayment </th>
                        <th> Period month </th>
                        <th> Start date </th>
                        <th> End Date </th>
                        <th> Details </th>
                    </tr>
                    {% for bond in archive_governments %}
                        <tr>
                            <td> {{ bond.name }}    </td>
                            <td> {{ bond.type_gv }} </td>
                            <td> {{ bond.sum|intcomma }}     </td>
                            <td> {{ bond.currency }} </td>
                            <td> {{ bond.rate }}     </td>
                            {% for indicator in bond.governments_extended_indicators.all %}
                                <td> {{ indicator.bonds_income|intcomma }}   </td>
                            {% endfor %}
                            <td> {{ bond.bonds_repayment_nominal|intcomma }} </td>
                            <td> {{ bond.period }}     </td>
                            <td> {{ bond.start_date }} </td>
                            <td> {{ bond.end_date }}   </td>
                            <td> <button type="button" class="btn btn-warning btn-sm btn-show-details"
                                         onclick="window.location.href =
                                                 '{% url 'government_details' government_id=bond.id %}'"> Show details
                                  </button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="block_empty_deposits">
                <h4><b> Archive Governments </b></h4>
                <h5> You have no Governments in Archive </h5>
            </div>

        {% endif %}

        <div class="block_deposits_report">
            {% if report_archive_governments != 'list is empty' %}
                <div class="title_deposits_report">
                    <h4><b> Governments report </b></h4>
                </div>
                <div class="block_table_deposits_report">
                    <table class="table_deposits_report">
                        <tr>
                            <th> Currency </th>
                            <th> Sum of Bonds </th>
                            <th> Average rate % </th>
                            <th> Current rate % </th>
                            <th> Dayily profit </th>
                            <th> Monthly profit </th>
                            <th> Year profit </th>
                            <th> Total profit </th>
                        </tr>
                        {% for indicator in report_archive_governments %}
                            <tr>
                                <td> {{ indicator.currency }}</td>
                                <td> {{ indicator.calc_sum|intcomma }}</td>
                                <td> {{ indicator.average_rate }}</td>
                                <td> {{ indicator.current_rate }}</td>
                                <td> {{ indicator.dayily_profit|intcomma }}</td>
                                <td> {{ indicator.monthly_profit|intcomma }}</td>
                                <td> {{ indicator.year_profit|intcomma }}</td>
                                <td> {{ indicator.total_profit|intcomma }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}