{% extends 'main/layout.html' %}

{% block title %} Information about Bonds {% endblock %}

{% block content %}

    <div class="block_information_about_deposits">
        <div class="title">
                <h1><b> Information about Bonds </b></h1>
        </div>

        <div class="title_active_deposits">
            <h4><b> Active Governments </b></h4>
        </div>

        {% if active_governments %}
            {% for bond in active_governments %}
                <div class="block_active_deposits">
                    <table class="table_for_deposits">
                        <tr>
                            <th> Bonds Code </th>
                            <th> Type </th>
                            <th> Sum </th>
                            <th> Currency </th>
                            <th> Rate % </th>
                            <th> Period month </th>
                            <th> Start date </th>
                            <th> End Date </th>
                        </tr>
                        <tr>
                            <td>{{ bond.name }}</td>
                            <td>{{ bond.type_gv }}</td>
                            <td>{{ bond.sum }} </td>
                            <td>{{ bond.currency }} </td>
                            <td>{{ bond.rate }} </td>
                            <td>{{ bond.period }} </td>
                            <td>{{ bond.start_date }} </td>
                            <td>{{ bond.end_date }} </td>
                        </tr>
                    </table>
                </div>
                <div>
                    <button type="button" class="btn btn-primary btn-sm btn-show-details"
                        onclick="window.location.href ='{% url 'government_details' government_id=bond.id %}'"> Show government details
                    </button>
                </div>

            {% endfor %}
        {% else %}
            <div class="block_empty_deposits">
                <h4><b> Active Governments </b></h4>
                <h5> You have no active Governments </h5>
            </div>
        {% endif %}


        {% if archive_governments %}
            {% for bond in archive_governments %}
                <div class="block_information_about_deposits">
                    <div class="block_active_deposits">
                        <table class="table_for_deposits">
                            <tr>
                                <th> Bonds Code </th>
                                <th> Type </th>
                                <th> Sum </th>
                                <th> Currency </th>
                                <th> Rate % </th>
                                <th> Period month </th>
                                <th> Start date </th>
                                <th> End Date </th>
                            </tr>
                            <tr>
                                <td>{{ bond.name }}</td>
                                <td>{{ bond.type_gv }}</td>
                                <td>{{ bond.sum }} </td>
                                <td>{{ bond.currency }} </td>
                                <td>{{ bond.rate }} </td>
                                <td>{{ bond.period }} </td>
                                <td>{{ bond.start_date }} </td>
                                <td>{{ bond.end_date }} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="block_empty_deposits">
                <h4><b> Archive Governments </b></h4>
                <h5> You have no Governments in Archive </h5>
            </div>

        {% endif %}
    </div>
{% endblock %}