{% extends 'main/layout.html' %}

{% load humanize %}

{% block title %} Information about Bonds {% endblock %}

{% block content %}

    <div class="block_information_about_deposits">
        <div class="title">
                <h1><b> Payments Schedule </b></h1>
        </div>

        <div class="title_active_deposits">
            <h3><b> Planned payments </b></h3>
        </div>

        {% if payments_schedule_active %}
            <div class="block_governments_payment_schedule">
                {% for year,months in period_list_active.items %}
                    <div class="government_payment_year">
                        <h4> {{ year }} </h4>
                    </div>
                    <div class="government_payment_months">
                        {% for month in months %}
                            <div class="payment_block_month_and_date">
                                <div class="government_payment_month">
                                    <h5> {{ month }} </h5>
                                </div>
                                <div class="government_payment_date">
                                    {% for payment in payments_schedule_active %}
                                        {% if payment.payment_date.year == year and payment.payment_date|date:"F" == month  %}
                                            <div class="government_payments_details">
                                                {{ payment.payment_date.month}}/{{ payment.payment_date.day }}
                                                {{payment.government.name }}, {{ payment.payment_type }},
                                                {{ payment.payment_sum|intcomma }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="governments_result_payment_from_year">
                        {% for payment_year, payment_type in year_payments_list_active.items %}
                            {% if payment_year == year %}
                                <div class="coupons_payments_from_year">
                                    All payments from year
                                </div>
                                {% for type, sum in payment_type.items %}
                                    <div id=coupons_payments_from_year class="coupons_payments_from_year">
                                        {{ type }} payments : {{ sum|intcomma }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <div class="block_empty_deposits">
                <h5> You have no Payments Schedule </h5>
            </div>
        {% endif %}

    <div class="title_archive_governments">
        <h3><b> Payments in archive </b></h3>
    </div>
        {% if payments_schedule_archive %}
            <div class="block_governments_payment_schedule">
                {% for year,months in period_list_archive.items %}
                    <div class="government_payment_year">
                        <h4> {{ year }} </h4>
                    </div>
                    <div class="government_payment_months">
                        {% for month in months %}
                            <div class="payment_block_month_and_date">
                                <div class="government_payment_month">
                                    <h5> {{ month }} </h5>
                                </div>
                                <div class="government_payment_date">
                                    {% for payment in payments_schedule_archive %}
                                        {% if payment.payment_date.year == year and payment.payment_date|date:"F" == month  %}
                                            <div class="government_payments_details">
                                                <h7>
                                                    {{ payment.payment_date.month}}/{{ payment.payment_date.day }}
                                                    {{payment.government.name }}, {{ payment.payment_type }},
                                                    {{ payment.payment_sum|intcomma }}
                                                </h7>
                                            </div>

                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="governments_result_payment_from_year">
                        {% for payment_year, payment_type in year_payments_list_archive.items %}
                            {% if payment_year == year %}
                                <div class="coupons_payments_from_year">
                                    All payments from year
                                </div>
                                {% for type, sum in payment_type.items %}
                                    <div id=coupons_payments_from_year class="coupons_payments_from_year">
                                        {{ type }} payments : {{ sum|intcomma }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>

        {% else %}
            <div class="block_empty_deposits">
                <h5> You have no Payments Schedule </h5>
            </div>
        {% endif %}
    </div>

{% endblock %}