{% extends 'main/layout.html' %}

{% block title %} Information about Bonds {% endblock %}

{% block content %}

    <div class="block_information_about_deposits">
        <div class="title">
                <h1><b> Payments Schedule </b></h1>
        </div>

        {% if payments_schedule %}
            <div class="block_governments_payment_schedule">
                {% for year,months in period_list.items %}
                    <div class="title_active_deposits"> <h4><b> {{ year }} </b></h4></div>
                    <table class="table_payments_schedule">
                        <tr>
                            {% for month in months %}
                                <th>
                                    {{ month }}
                                </th>
                            {% endfor %}
                        <tr>
                            {% for month in months %}
                                <td>
                                    {% for payment in payments_schedule %}
                                       {% if payment.payment_date.year == year and payment.payment_date|date:"F" == month %}
                                           {{ payment.payment_date }}, {{payment.government.name }}, {{ payment.payment_type }}, {{ payment.payment_sum }}
                                       {% endif %}
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>

                    </table>
                {% endfor %}
            </div>

        {% else %}
            <div class="title_active_deposits">
                <h4><b> Payments Schedule </b></h4>
            </div>
            <div class="block_empty_deposits">
                <h5> You have no Payments Schedule </h5>
            </div>
        {% endif %}

    </div>

{% endblock %}


{#{% for year,months in period_list.items %}#}
{#                    <div class="title_active_deposits"> <h4><b> {{ year }} </b></h4></div>#}
{#                    <table class="table_payments_schedule">#}
{#                        <tr>#}
{#                            {% for month in months %}#}
{#                                <th>#}
{#                                    {{ month }}#}
{#                                </th>#}
{#                            {% endfor %}#}
{#                        <tr>#}
{#                            {% for month in months %}#}
{#                                <td>#}
{#                                    {% for payment in payments_schedule %}#}
{#                                       {% if payment.payment_date.year == year and payment.payment_date|date:"F" == month %}#}
{#                                           {{ payment.payment_date }}, {{payment.government.name }}, {{ payment.payment_type }}, {{ payment.payment_sum }}#}
{#                                       {% endif %}#}
{#                                    {% endfor %}#}
{#                                </td>#}
{#                            {% endfor %}#}
{#                        </tr>#}
{##}
{#                    </table>#}
{#                {% endfor %}#}