.content_add_schedule {
    display: flex;
    flex-direction: column;
}

.block_create_schedule{
    display: flex;
    column-gap: 10%;
    margin-top: 10px;
    margin-left: 5%;
}

.block_empty_payment_scgedule {
    border: 2px solid #666666;
    margin-top: 3%;
    margin-left: 10px;
    width: 60%;
}

.block_empty_payment_scgedule h5 {
    text-align: center;
    margin-top: 7px;

}


.base_form_information_schedule{
    width: 28%;
}

.btn-save-schedule {
    width: 12%;
    height: 3%;
    margin-top: 45px;
}

.btn-schedule-back-gov {
    margin-left: 10px;
    width: 60%;
    margin-top: 1%;
}

.div_buttons_add_schedule {
    display: flex;
    flex-direction: column;
}

.form_add_payment_schedule {
    display: flex;
    flex-direction: row;
}

.form_add_payment_schedule input {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 7px;
}


.table_add_schedule {
    table-layout: fixed;
    margin-left: 10px;
    margin-top: 3%;
    margin-right: 10px;
    width: 60%;
    /*border-collapse: collapse;*/
    border: 2px solid #666666;
}
.table_add_schedule td {
    text-align: center;
    letter-spacing: 1px;
    /*box-sizing: border-box;*/
    height: 10%;
}
.table_add_schedule th {
    text-align: center;
    border: #666666;
    border-bottom: 2px solid #666666;
}

.table_add_schedule td:nth-child(1) {
    width: 25%;
}
.table_add_schedule td:nth-child(2) {
    width: 25%;

}
.table_add_schedule td:nth-child(3) {
    width: 25%
}
.table_add_schedule td:nth-child(4) {
    width: 25%
}