
.block_governments_payment_schedule {
    margin-left: 10px;
}

.government_payment_months {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    column-gap: 1%;
}

.government_payment_month {
    text-align: center;
    border-bottom: 2px solid #666666;
}

.government_payment_month h5 {
    margin-top: 2%;
}

.payment_block_month_and_date {
    width: 31%; /* Ширина кожного дочірнього елемента - 33.33% для 3 в рядок */
    box-sizing: border-box;
    margin-top: 2%;
    border: 2px solid #666666;
    background: darkslategrey;
}

.governments_result_payment_from_year {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 32%;
    width: 31%;
    border: 2px solid #666666;
    background: darkslategrey;

}

div.coupons_payments_from_year, div.governments_payments_from_year {
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.title_archive_governments {
    margin-left: 10px;
    margin-top: 4%;
}


.government_payment_year {
    margin-top: 5%;
    width: 95%;
    border: 2px solid #666666;
    /*text-align: center;*/
    background: seagreen;
}

.government_payment_year h4 {
    /*margin-left: 40%;*/
    margin-top: 5px;
    text-align: center;

}

.government_payment_date {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
}
