{% extends 'main/layout.html' %}

{% block title %} Information about deposits {% endblock %}

{% block content %}
    <div class="title">
        <h1><b> Information about deposits </b></h1>
    </div>
    {% if deposit_data %}<div class="block_information_about_deposits">

        <div class="title_active_deposits">
            <h4><b> Active deposits </b></h4>
        </div>

        <div class="block_active_deposits">
            <table class="table_active_deposits">
                <tr>
                    <th scope="col">Назва Банку</th>
                    <th scope="col">Назва депозиту</th>
                    <th>Сума </th>
                    <th>Валюта</th>
                    <th>Cтавка %</th>
                    <th>Період в міс.</th>
                    <th>Дата початку</th>
                    <th>Дата завершення</th>
                </tr>
                {% for el in deposit_data %}
                    <tr>
                        <td>{{ el.bank }}</td>
                        <td>{{ el.name }}</td>
                        <td>{{ el.sum }} </td>
                        <td>{{ el.currency }} </td>
                        <td>{{ el.rate }}</td>
                        <td>{{ el.period }}</td>
                        <td>{{ el.start_date }} </td>
                        <td>{{ el.end_date }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="title_deposits_report">
            <h4><b> Deposits report </b></h4>
        </div>

        <div class="block_deposits_report">
            <table class="table_deposits_report">
                <tr>
                    <td> Сума всіх депозитів </td>
                    <td>  {{ calc_sum }}  </td>
                </tr>
                <tr>
                    <td> Середня ставка % </td>
                    <td>  {{ average_rate }}  </td>
                </tr>
                <tr>
                    <td> Місячний дохід </td>
                    <td>  {{ monthly_profit }}  </td>
                </tr>
                <tr>
                    <td> Річний дохід </td>
                    <td>  {{ 0 }}  </td>
                </tr>
                <tr>
                    <td> Загальний дохід </td>
                    <td>  {{ total_profit }}  </td>
                </tr>
            </table>
        </div>
    {% else %}
        <div class="block_empty_deposits">
            <h4><b>Active deposits</b></h4>
            <h5>You have no active deposits</h5>
        </div>
    {% endif %}

        <div class="block_deposits_in_archive">
            <h4><b>Deposits in archive</b></h4>
            <h5>Archive is empty</h5>
        </div>
    </div>

{% endblock %}

{#    <div class="deposit">#}
{#        {% for el in deposit_data %}#}
{#            <h6>Назва депозиту {{ el.deposit_date }}</h6>#}
{#            <h6>Сума депозиту  {{ el.deposit_sum  }}</h6>#}
{#            <h6>Відсоткова ставка {{ el.deposit_rate }}</h6>#}
{#            <h6>Період в міс.   {{ el.deposit_period }}</h6>#}
{#            <h6>Дата початку    {{ el.start_date }}</h6>#}
{#            <h6>Дата завершення {{ el.end_date }}  </h6><br>#}
{#        {% endfor %}#}
{#    </div>#}

{#<div class="name_of_table">#}
{#    <p>Назва депозиту &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Сума депозиту Відсоткова ставка Період в міс. Дата початку&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Дата завершення#}
{#    </p>#}
{#</div>#}
{#<div class="deposit">#}
{#    <ul>#}
{#        {% for el in deposit_data %}#}
{#            <ul>{{ el.deposit_date }} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#}
{#                {{ el.deposit_sum  }} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#}
{#                {{ el.deposit_rate }} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#}
{#                {{ el.deposit_period }} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#}
{#                {{ el.start_date }} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#}
{#                {{ el.end_date }} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#}
{#            </ul> <br>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</div>#}