{% extends 'main/layout.html' %}

{% block title %} ADD Deposit {% endblock %}

{% block content %}
    <div class="title">
        <h1><b> ADD Deposit </b></h1>
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            <h5> Name of Bank     {{ form.bank     }} </h5>
            <h5> Name of Deposit  {{ form.name     }} </h5>
            <h5> Sum of Deposit   {{ form.sum      }} </h5>
            <h5> Deposit currency {{ form.currency }} </h5>
            <h5> Deposit rate     {{ form.rate     }} </h5>
            <h5> Deposit period   {{ form.period   }} </h5>
            <h5> Start date of Deposit {{ form.start_date }} </h5>
            <h5> End date of Deposit   {{ form.end_date   }} </h5>
            <span> <h5>{{ error }}</h5></span> <br>
            <button type="submit" class="btn btn-primary btn-lg btn-block"> Add Deposit </button>
        </form>
    </div>

{% endblock %}

{#<form method="post">#}
    {#            {% crsf_token %}#}
{#    <div class="line_form">#}
{#        <div><h4> Name of deposit   </h4></div>#}
{#        <div>{{ form.deposit_date   }}</div>#}
{#    </div><br>#}
{#    <div class="line_form">#}
{#        <div><h4> Add sum deposit   </h4></div>#}
{#        <div>{{ form.deposit_sum    }}</div>#}
{#    </div><br>#}
{#    <div class="line_form">#}
{#        <div><h4> Add rate deposit  </h4></div>#}
{#        <div>{{ form.deposit_rate   }}</div>#}
{#    </div><br>#}
{#    <div class="line_form">#}
{#        <div><h4> Add deposit period</h4></div>#}
{#        <div>{{ form.deposit_period }}</div>#}
{#    </div><br>#}
{#    <div class="line_form">#}
{#        <div><h4> Start date of deposit</h4></div>#}
{#        <div>{{ form.start_date     }}</div>#}
{#    </div><br>#}
{#    <div class="line_form">#}
{#        <div><h4> End date of deposit  </h4></div>#}
{#        <div>{{ form.end_date       }}</div>#}
{#    </div>#}
{#    <button type="submit" class="btn btn-primary btn-lg"> Add Deposit    </button>#}
{#</form>#}