.div_form_delete_deposits {
    display: flex;
    flex-direction: column;
}

.block_delete_deposits{
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    column-gap: 20px;
}

.block_delete_deposits_buttons{
    display: flex;
    column-gap: 20px;
}

.confirm_delete_button{
    column-gap: 20px;
}

.error_delete_deposit{
    display: flex;
    margin-left: 10px;
    margin-top: 40px;
    color: red;
}

.error_delete_deposit h4{
    margin-left: 10px;
}
.successful_delete_operation{
    display: flex;
    margin-left: 10px;
    margin-top: 40px;
    color: springgreen;
}

.successful_delete_operation h4{
    margin-left: 10px;
}

.div_msg_h5 {
  display: flex;
  justify-content: center; /* горизонтальне вирівнювання по центру */
  align-items: center; /* вертикальне вирівнювання по центру */
}

.div_msg_h5 h5 {
  margin: 0;
  text-align: center;
}

.title_delete_deposits {
    margin-left: 10px;
    margin-top: 30px;
}
.confirm_delete_button{
    display: flex;
    justify-content: center; /* горизонтальне вирівнювання по центру */
    align-items: center; /* вертикальне вирівнювання по центру */
}

.confirm_delete_button h5 {
    margin: 0;
    text-align: center;
}
.table_for_delete_deposits {
    table-layout: fixed;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: auto;
    /*border-collapse: collapse;*/
    border: 2px solid #666666;
}
.table_for_delete_deposits td {
    text-align: center;
    letter-spacing: 1px;
}
.table_for_delete_deposits th {
    text-align: center;
    border: #666666;
    border-bottom: 2px solid #666666;
}

.table_for_delete_deposits td:nth-child(1) {
    width: 5%
}
.table_for_delete_deposits td:nth-child(2) {
    width: 15%
}
.table_for_delete_deposits td:nth-child(3) {
    width: 15%
}
.table_for_delete_deposits td:nth-child(4) {
    width: 9%
}
.table_for_delete_deposits td:nth-child(5) {
    width: 7%
}
.table_for_delete_deposits td:nth-child(6) {
    width: 7%
}
.table_for_delete_deposits td:nth-child(7) {
    width: 9%
}
.table_for_delete_deposits td:nth-child(8) {
    width: 9%
}
.table_for_delete_deposits td:nth-child(9) {
    width: 10%
}