.block_information_about_indicators {
    display: flex;
    flex-direction: column;
}

.div_block_all_indicators {
    margin-top: 5%;
}

.div_title_indicators {
    margin-left: 16%;
    text-align: center;
}

.div_block_indicators {
    display: flex;
    flex-direction: row;
    width: 80%;
    /*margin-left: 10px;*/
}

.investment_capital {
    display: flex;
    border: 3px solid #666666;
    border-radius: 6px;
    width: 75%;
    height: 45px;
    justify-content: center;
    align-items: center;
    background: darkslategrey;
    margin-top: 1%
}

.div_investments_type {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.div_deposits_sum,
.div_governments_sum,
.div_loans_sum,
.div_deposits_title,
.div_governments_title,
.div_loans_title,
.div_deposits_profit,
.div_governments_profit,
.div_loans_profit {
    display: flex;
    width: 25%;
    border: 3px solid #666666;
    border-radius: 6px;
    height: 45px;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    background: darkslategrey;
}

/*.div_loans_sum,*/
/*.div_loans_title,*/
/*.div_loans_rate {*/
/*    background: seagreen;*/
/*}*/

/*.div_governments_sum,*/
/*.div_governments_title,*/
/*.div_governments_rate {*/
/*    background: darkslategrey;*/
/*}*/

.div_deposits_sum h5,
.div_governments_sum h5,
.div_loans_sum h5,
.div_investments_type h5,
.investment_capital h5,
.div_deposits_title h5,
.div_governments_title h5,
.div_loans_title h5,
.div_governments_profit h5,
.div_deposits_profit h5,
.div_loans_profit h5 {
    margin-bottom: unset;
}

/*.div_deposits_title,*/
/*.div_governments_title,*/
/*.div_loans_title {*/
/*    margin-top: 1%;*/
/*    border-bottom: 0px;*/
/*}*/

.title_capital {
    margin-top: 3%;
    margin-left: 10px;
    width: 70%;
}

/*.title_capital h4 {*/
/*    text-align: center;*/
/*}*/